# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# C++
a.out*

# VScode
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
