# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# C++
*.out*

# VScode
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/cpp.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# online-judge-tools
build/